{% extends "blog/base.html" %}
{% block content %}
<div class="hero-body">
    <div class="container">
        <h1 class="title">
            About
        </h1>
        <h2 class="subtitle">
            This is a web application created with a <a href="https://www.djangoproject.com/">Django backend</a>. The
            front end is developed using HTML, CSS,
            JavaScript. CSS is applied using the <a href="https://bulma.io/">Bulma framework</a>.
        </h2>
    </div>
</div>
{% endblock content %}