{% extends "blog/base.html" %}
{% block content %}
<div class="box">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ object.author.profile.image.url }}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong class="title is-5">{{object.title}}</strong>
          <br>
          {{object.content}}
        </p>
      </div>
    </div>
    <div class="media-right">
      <small class="px-2 tag is-dark">{{object.author}}</small>
      <small class="tag is-info">{{object.date_posted|date:"D M j, Y"}}</small>
    </div>

    <!-- 
         <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav> 
    <div class="media-right">
        <button class="delete"></button>
    </div>
-->
  </article>
</div>
{% endblock content %}