{% extends "blog/base.html" %}
{% block content %}
{% load humanize %}
{% load bulma_tags %}

<div class="card">
  <header class="card-header">
    <a href="{% url 'user-posts' post.author.username %}" class="image is-64x64">
      <img src="{{ post.author.profile.image.url }}">
    </a>
    <a class="card-header-title" href="{% url 'post-detail' post.id %}">
      <strong class="title is-5">{{post.title}}</strong>
    </a>
    <div class="mt-4 mr-4">
      <a class="tag is-dark" href="{% url 'user-posts' post.author.username %}">{{post.author}}</a>
      <small class="tag is-primary">{{post.date_posted|naturalday}}</small>
      <small class="tag is-info">{{post.view_count|intword}} view{{post.view_count|pluralize:'s'}}</small>
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      {% for tag in post.tags.all %}
      <small class="tag is-info is-light">{{tag}}</small>
      {% endfor %}
      <br>
      {{post.getContent|safe}}
    </div>
  </div>
  {% if post.author == user %}
  <footer class="card-footer">
    <a href="{% url 'post-update' post.id %}" class="card-footer-item">Edit</a>
    <a href="{% url 'post-delete' post.id %}" class="card-footer-item">Delete</a>
  </footer>
  {% endif %}
</div>

{% if not user.is_anonymous %}
<br>
<form method="POST" action="">
  {% csrf_token %}

  {% if not liked %}
  <button class="button is-success" type="submit" name="action" value="like">Like</button>
  {% else %}
  <button class="button is-danger" type="submit" name="action" value="like">Unlike</button>
  {% endif %}
  <h2 class="subtitle is-size-6">{{ post.post_likes.count }} people liked this post</h2>
</form>
<br>
<form method="POST">
  {% csrf_token %}
  {{ form|bulma }}
  <button class="button is-info" type="submit" name="action" value="comment">Post</button>
</form>
{% endif %}

<br>
{% for comment in post.post_comments.all %}
<article class="media">
  <figure class="media-left">
    <p class="image is-48x48">
      <img src="{{ comment.author.profile.image.url }}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{ comment.author }}</strong>
        <small class="tag is-primary">{{ comment.date_posted|naturalday }}</small>
        <br>
      <div id="comment" class="has-background-light">
        {{ comment.content }}
      </div>
      <br>
      </p>
    </div>
  </div>
</article>
{% endfor %}

<style>
  #comment {
    word-break: break-all;
  }
</style>

{% endblock content %}