{% extends "blog/base.html" %}
{% block content %}
{% load humanize %}
<div class="card">
  <header class="card-header">
    <a href="{% url 'user-posts' post.author.username %}" class="image is-64x64">
      <img src="{{ object.author.profile.image.url }}">
    </a>
    <a class="card-header-title" href="{% url 'post-detail' post.id %}">
      <strong class="title is-5">{{post.title}}</strong>
    </a>
    <div class="mt-4 mr-4">
      <a class="tag is-dark" href="{% url 'user-posts' post.author.username %}">{{object.author}}</a>
      <small class="tag is-primary">{{object.date_posted|naturalday}}</small>
      <small class="tag is-info">{{object.view_count|intword}} views</small>
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      {% for tag in post.tags.all %}
      <small class="tag is-info is-light">{{tag}}</small>
      {% endfor %}
      <br>
      {{object.content}}
    </div>
  </div>
  {% if object.author == user %}
  <footer class="card-footer">
    <a href="{% url 'post-update' object.id %}" class="card-footer-item">Edit</a>
    <a href="{% url 'post-delete' object.id %}" class="card-footer-item">Delete</a>
  </footer>
  {% endif %}
</div>
{% endblock content %}