{% extends "blog/base.html" %}
{% load static %}
{% load bulma_tags %}
{% block content %}
<div class="columns is-centered">
    <div class="box column is-half has-background-success-light">
        <form method="POST">
            {% csrf_token %}

            {{ form|bulma }}

            <button class="button is-primary" type="submit">Log in</button>
            <br><br>
            <a href="{% url 'password_reset' %}">Forgot password</a>
        </form>
        <p>Don't have an account?
            <a href="{% url 'register' %}">Sign up</a>
        </p>
    </div>
</div>

<script text="text/javascript" src="{% static 'users/message.js' %}"></script>
{% endblock content %}