{% extends "blog/base.html" %}
{% block content %}
<div class="columns is-centered">
    <div class="box column is-half has-background-success-light has-text-centered">
        <form method="POST">
            {% csrf_token %}

            <label class="label is-large">Reset Password</label>
            <div class="help is-danger">{{ form.non_field_errors }}</div>
            {% for field in form %}
            <div class="field">
                <div class="label">{{ field.label_tag }}</div>
                {{ field }}
                {% if field.help_text %}
                <div class="help is-info">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
            {% endfor %}

            <button class="button is-info" type="submit">Reset Password</button>

        </form>
    </div>
</div>
{% endblock content %}