<!--
    Template to display the user's profile page.
-->

{% extends "blog/base.html" %}
{% load bulma_tags %}
{% block content %}
<div class="columns is-centered">
    <div class="box column is-half has-background-success-light">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="{{ user.profile.image.url }}">
                </p>
            </figure>

            <div class="media-content">
                <div class="content has-text-left">
                    <p>
                        <strong class="title is-5">{{ user.username }}</strong>
                        <br>
                        <strong class="title is-6">{{ user.email }}</strong>
                    </p>
                </div>
            </div>

        </article>

        <br>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ u_form|bulma }}
            {% for field in p_form %}
            <strong>{{field.label_tag}}</strong>
            <br>
            {{ field }}
            {% endfor %}
            <br><br>

            <button class="button is-success" type="submit">Update</button>

        </form>

        <hr style="border-top: 5px solid rgb(0, 0, 0);
        border-radius: 1px;">
        <a class="button is-danger" href="{% url 'account_delete' %}">Delete Account</a>
    </div>
</div>
{% endblock content %}