{% extends "blog/base.html" %}
{% block content %}
<div class="columns is-centered">
    <div class="box column is-narrow">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="{{ user.profile.image.url }}">
                </p>
            </figure>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="title is-5">{{ user.username }}</strong>
                        <br>
                        <strong class="title is-6">{{ user.email }}</strong>
                    </p>
                </div>
            </div>

        </article>

        <br>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label class="label is-large">Update your Profile</label>
            {% for field in u_form %}
            <div class="field">
                <div class="help is-danger">{{ field.errors }}</div>
                <div class="label">{{ field.label_tag }}</div>
                {{ field }}
                {% if field.help_text %}
                <div class="help is-info">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
            {% endfor %}

            {% for field in p_form %}
            <div class="field">
                <div class="help is-danger">{{ field.errors }}</div>
                <div class="label">{{ field.label_tag }}</div>
                {{ field }}
                {% if field.help_text %}
                <div class="help is-info">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
            {% endfor %}

            <button class="button is-success" type="submit">Update</button>

        </form>

    </div>
</div>
{% endblock content %}